.react-table * {
  font-size: 0.7vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-table tr > * {
    margin: 0px;
    padding: 0px;
    /* height: 10px; */
    /* border: 1px solid red; */
}

.rtrtr {
  position:absolute;
  pointer-events: none;
  background-color:red;
  opacity:0.3;
  height:100%;
  width:100%;
  z-index:1;
}

.fred {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.react-table tr > * > * {
    margin: 0px;
    /* border: 1px solid green; */
}

.react-table tr > * > input {
    width: 2vw;
    /* border: 1px solid green; */
}

.Checkbox {
    height: 5px;
    margin: -50px;
    padding: -50px;
    border: 1px solid orange;
}

.prerp * {
  color: red;
  background-color: #e7e7e7;
}

.table_image {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_image > * {
  padding: 0;
  margin: 0;
}

.rot60 {
  border-radius: 1000px;
  transition: all 0.25s ease-in;
}

.rot60:hover {
  transform: rotate(-60deg);
}
