@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
html {
  height: 100%;
}
body {
  height: 100%;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
}

ul {
  overflow-wrap: normal;
  width: 300px;
}

h2 {
  margin-top: 0px;
}

/* #app {
  background: #00FFFFFF;
} */

/* body {pointer-events: none}
* {pointer-events: all;} */

#main {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

#app {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}

.inline div {
  display: inline-block;
}

.debug {
  padding: 5px;
  background-color: white;
  border: 1px solid #efefef;
}

.debug > p {
  margin: 0px;
  font-size: 11px;
}

.unlocked_handle {
  border: 2px solid red;
  z-index: 10;
}

#config {
  background-color: white;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.notepad {
  background-color: white;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

#headline {
  align-self: center;
}

#content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.button-container {
  position: relative;
  display: flex;
  border-radius: 1000px; /*Button container (click events) must be round*/
}

.button-menu {
  background: #72b0ec;
  border-radius: 1000px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-child {
  position: absolute;
  background: white;
  border-radius: 1000px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.child-button-icon {
  color: grey;
}

.main-button-icon {
  color: white;
}
